<head>
    <title>appwall</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <div class="container">
        <nav>
            <div class="nav-wrapper">

                <img id="logo" src="img/Drawing.png" />
                <ul class="right hide-on-med-and-down">
                    <li><a href="#"><i class="material-icons">perm_identity</i></a></li>
                    <li><a href="#"><i class="material-icons">search</i></a></li>
                    <li>
                        <a href="#"> <i class="material-icons">add</i>
                            <li>
                                <a href="#"> <i class="material-icons">delete</i>

                                    <li><a href="#"><i class="material-icons">more_vert</i></a></li>
                </ul>
            </div>
        </nav>
    </div>

</head>

<body>
    <div id="userdisplay" class="container">
        <!--{{> user}}-->

    </div>
    <div class="container">
         {{> loginButtons}}
        
        {{#if currentUser}}
        <div class="image-cropper">
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/8/000/2c0/202/2f1d5e2.jpg" class="rounded" />
        </div>
        {{> form}} 
        {{> posts}}
         {{/if}}

    </div>
</body>