<!--<template name="user">
  <p>{{username}}</p>
</template>

<template name="name">
{{#if currentUser}} 
  {{> username}}
{{/if}}
</template>-->

<template name="form">
    {{#if currentUser}}
    
    <form class="add-new-post">
        <input type="text" placeholder="Name" />
        <input type="text" placeholder="Message"/>

        <div class="file-field input-field">
            <div class="btn">
                <span>File</span>
                <input type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload more files">
            </div>
        </div>


        <button class="waves-effect waves-light btn">Submit</button>
    </form>
    {{/if}}
    
</template>

<template name="posts">
    {{#if currentUser}}
    <div class="grid">
        <div class="grid-sizer"></div>
        {{#each postList}}

        <div class="grid-item">
            <div class="card">
            <div class="card-image">
              <img src="{{displayImages this.imageId}}">
              <span class="card-title">{{this.name}}</span>
            </div>
            <div class="card-content">
              <p>{{this.message}}</p>
            </div>
          </div>
        </div>
        {{/each}}
    </div>
    {{updateMasonry}}
    {{/if}}
</template>