.grid-sizer,
.grid-item {
    width: 32%;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

.container {
    background-color: currentColor;
}

body {
    font-family: 'Quicksand', sans-serif;
}

nav {
    background-color: #363636;
}

h1 {
    margin: 0;
    padding: 50px;
}

#logo {
    height: 50px;
     padding-left: 15px;
    padding-top: 7px;
    width: 100px;
}

#pic {
    height: 95px;
    width: 100px;
}


/*#userdisplay{
    background-image: url(http://www.graphicsfuel.com/wp-content/uploads/2013/08/blurred-texture-background05-preview.jpg);
    background-size: cover;
    
}*/

.btn {
    background-color: firebrick;
}

.card {
    margin-left: 17px;
    overflow: visible;
}

#login-buttons a {
      color: #005960;
        font-size: 30px;
    margin-left: 420px;
    padding-top: 30px;
     text-decoration: none;
}

#login-dropdown-list {
    margin-left: 420px;
    margin-top: 40px;
}

#login-dropdown-list a {
    margin-left: 0;
}

.image-cropper {
     border-radius: 50%;
    height: 100px;
    margin-left: 410px;
     overflow: hidden;
    position: relative;
     width: 100px;
}

img {
 display: inline;
     height: 100%;
    margin: 0 auto;
    width: auto;
}

.add-new-post {
        margin-left: 220px;
    width: 500px;
}